@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}

/* header style */
header{
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 1; */
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    border-radius: 10px;
    /* background-color: #FFFBE7; */
}
.logo{
    display: flex;
    align-items: center;
}
.logo #J{
    font-size: 4.5rem;
    font-weight: 800;
}
.logo #rest{
    font-size: 3.7rem;
    font-weight: 600;
    color: #183A37;
}
.navbar a{
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.60s ease-in-out;
    color: #183A37;
}
.navbar a:hover{
    color: #CB6406;
    font-weight: 1000;
    font-size: 2.5rem;
}
#menu-icon{
    font-size: 80px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px;
        transition: 0.2s;
    }
    .logo #J{
        font-size: 6rem;
        font-weight: 1600;
    }
    .logo #rest{
        font-size: 5.5rem;
        font-weight: 1400;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media (max-width: 480px){
    #menu-icon{
        display: block;
    }
    .navbar a{
        margin: 12px 0;
        padding: 10px 25px;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        border: 1rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 20vh;
        background-color: #731963;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        
        transition: all 0.5s ease;
    }
    .navbar a:hover{
        font-weight: 600;
        font-size: 1.9rem;
    }
    .navbar.open{
        right: 2%;
    }
    .logo #J{
        font-size: 6.5rem;
        font-weight: 1800;
    }
    .logo #rest{
        font-size: 6.6rem;
        font-weight: 1400;
    }
    main{
        margin-top: 80%;
        height: 1000vh;
    }
}
/* end of header style */

body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#timer {
    margin-bottom: 60px;
    margin-left: 80%;
    font-size: 30px;
    font-weight: bolder;
}

.flag-container {
    margin: 10px;
}

#flag-img {
    max-width: 100%;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 92%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

button {
    padding: 6px 20px;
    font-size: 17px;
    background-color: #007bff;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}